@charset "utf-8";

.container{
  margin: 40px auto;
  width: 240px;
}
.headline{
  padding: 6px;
  border-bottom: 1px solid lightgray;
}
h3{
  text-align: center;
}
li{
  cursor: pointer;
}

.right_answer{
  color: green;
}
.right_answer::after{
  content: ' ---正解！';
}
.wrong_answer{
  color: red;
}
.wrong_answer::after{
  content: ' ---不正解！';
}
